<app-header>[initialStatus]="'transitionLeft'"></app-header>
<div class="application-page">
    <div class="w95 centered">
        <ngb-alert type="custom" [dismissible]="false">Login as administrator</ngb-alert>
        <div class="login centered">
            <input type="text" class="form-control mt-2" id="username" placeholder="User name" [(ngModel)]="username" autofocus>
            <input type="password" class="form-control mt-2" id="password" placeholder="Password" [(ngModel)]="password">
            <button type="button" class="btn btn-primary mt-4 mb-2" (keyup.enter)="login" (click)="login()" [disabled]="username.length <= 0 || password.length <= 0">Confirm</button>
        </div>
    </div>
</div>