.item-element {
    background-color: lightseagreen;
    width: 6em !important;
    max-width: 6em !important;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
    text-align: center;
}