table {
    border: solid 1px gray;
    border-bottom: 0px !important;
    border-right: 0px !important;
}

td, th {
    max-width: 100%;
    white-space: nowrap;
    border-right: solid 1px gray;
    border-bottom: solid 1px gray;
}

.underlined {
    border-bottom: solid 1px gray;
}

.evidence {
    font-weight: bold;
    color: black;
    background-color: lightgray;
}

.header {
    width: 100%;
    background-color: lightgray;
}