<app-header>[initialStatus]="'transitionLeft'"></app-header>
<div class="application-page">
    <div class="w95 centered data-gathering-header">
        <div class="step">Start</div>
        <div class="data-gathering-nav">
            <span class="far fa-arrow-alt-circle-right data-gathering-arrows" (click)="goNext()"></span>
        </div>
    </div>
    <div class="w95 centered">
        <p>
            Data gathering lead the user to define new data collections and import them into the isotope database.
            Please follow the steps.
        </p>
    </div>
</div>