<div class="card">
    <div class="card-header filter-header">
      <div class="float-left"><app-query-connector (queryConnector)="setConnector($event)"></app-query-connector> Authors</div>
      <div class="float-right clickable"><i class="fa-regular fa-pen-to-square" (click)="editCard()"></i></div>
      <div class="float-right clickable" style="margin-right: 8px !important;"><i class="fa-solid fa-xmark" (click)="resetFilter()"></i></div>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="auth">Authors list</label>
        <input [disabled]="disabled" type="text" class="form-control" id="authors" aria-describedby="authelp"
            [(ngModel)]="authors">
    </div>

    </div>
  </div>
