.label {
    font-weight: bold;
}

.dati {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: solid 1px lightgray;
    border-radius: 6px;
}

.dataset-link {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: solid 1px lightgray;
    border-radius: 6px;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

table {
    width: 100%;
}