<app-header>[initialStatus]="'transitionLeft'"></app-header>
<div class="application-page" @fade>
    <div class="w95 centered data-gathering-header">
        <div class="step">Sample definition</div>
        <div class="data-gathering-nav">
            <span class="far fa-arrow-alt-circle-left data-gathering-arrows" (click)="goPrevious()"></span>&nbsp;
        </div>
    </div>
    <div class="centered w95">
        <p>This is the list of the sample data to be imported. Use the button to save them in the database.</p>
        <div *ngIf="spinnerOn === true" class="spinner-div">
            <div class="d-flex align-items-center w50 bordered-rounded centered">
                Wait until the operation is completed; this could take several minutes, depending on the amount of data sent.
                <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
            </div>
        </div>
    </div>
    <div class="w95 text-right m-1">
        <button type="button" class="btn btn-primary" (click)="saveSamples()" [disabled]="!storeService.getCurrentUser()">Save data</button>
        <!-- <button type="button" class="btn btn-success" (click)="saveSamples()">Upload</button> -->
    </div>
    <div class="centered w95 h50 scrollable">
        <div>Sample fields:</div>
        <div *ngFor="let f of session.fields" class="sample-field">{{f}}</div>
        <div>Chemical components:</div>
        <div *ngFor="let c of session.chems" class="chem">{{c}}</div>
        <div>Isotopes:</div>
        <div *ngFor="let i of session.isotopes" class="isotope">{{i}}</div>
    </div>
</div>