.content-container {
    width: 95%;
}

.data-selected {
    background-color: orange;
    color: white;
}


.end-selected {
    background-color: violet;
    color: white;
}

.header-selected {
    background-color: orange;
    color: white;
}

.navigation-button {
    width: 8em;
    font-size: x-small;
}

.merge-button {
    width: 10em;
    font-size: x-small;
}

.separator-button {
    width: 16em !important;
    font-size: x-small;
}

.h80 {
    height: 80%;
}

.h70 {
    height: 70%;
}

/*
table {
    table-layout: fixed;
}
*/

tr {
    border-right: 1px solid;
    border-top: 1px solid;
}

td {
    max-width: 100%;
    white-space: nowrap;
    border-left: 1px solid;
    border-bottom: 1px solid;
}