<app-header>[initialStatus]="'transitionLeft'"></app-header>
<div class="application-page" @fade>
    <div class="w95 centered data-gathering-header">
        <div class="step">Sheet list</div>
        <div class="data-gathering-nav">
            <span class="far fa-arrow-alt-circle-left data-gathering-arrows" (click)="goPrevious()"></span>&nbsp;
            <span class="far fa-arrow-alt-circle-right data-gathering-arrows" (click)="goNext()" [style.color]="selected.length < 1 ? 'lightgray' : 'black'"></span>
        </div>
    </div>

    <div class="w95 centered">
        <div *ngIf="spinnerOn === true" class="spinner-div">
            <div class="d-flex align-items-center w50 bordered-rounded centered">
                <strong>Loading...</strong>
                <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
            </div>
        </div>
        <div class="centered">
            <p>Working on dataset: {{ fileName }} </p>
        </div>
        <div class="list-container centered vscrollable" style="max-height: 35em !important;">
            <p>Select sheet: <span class="bold">{{ selected }} </span></p>
            <ul class="list-group list-group-light">
                <li *ngFor="let s of sheets"
                    class="clickable list-group-item px-3 border-0 rounded-3 list-group-item-secondary mb-2"
                    [style.color]="selected === s ? 'red' : 'black'"
                    (click)="processSheet(s)">{{ s }}</li>
            </ul>
        </div>
    </div>
</div>